body{
  color: yellow;
}

.primary {
  color: yellow;
}

a:hover {
  color: rgb(180, 145, 125);
}
.valid{
  color: lightgreen;
  font-weight: bold;
}
.invalid{
  color: red;
  font-weight: bold;
}
.error{
  color:red;
}