body {
  color: gold;
}

.primary {
  color: gold;
}
.secondary {
  color: #e8cc80;
}

a:hover {
  color: #b47d7d;
}
.valid {
  color: lightgreen;
  font-weight: bold;
}
.invalid {
  color: red;
  font-weight: bold;
}

.imgSize {
  width: 100%;
  height: 400px;
}
button {
  margin: 5px;
}
/* Create post css*/
.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #e8cc80 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 4px #e8cc80 !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px gold !important;
  color: gold !important;
}

/* Text Editor css */

.text-editor .ql-toolbar button:hover {
  color: gold;
}
.text-editor .ql-editor {
  min-height: 10em;
}

.text-editor .ql-toolbar .ql-stroke {
  fill: none;
  stroke: #e8cc80;
}

.text-editor .ql-toolbar .ql-fill {
  fill: #e8cc80;
  stroke: none;
}

.text-editor .ql-toolbar .ql-picker {
  color: #e8cc80;
}

.text-editor button:hover .ql-stroke,
.text-editor .ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: gold !important;
}
.text-editor .ql-active .ql-stroke {
  fill: none;
  stroke: gold !important;
}

.text-editor button:hover .ql-fill,
.text-editor .ql-picker-label:hover .ql-fill {
  fill: gold !important;
  stroke: none;
}

.text-editor .ql-active .ql-fill {
  fill: gold !important;
  stroke: none;
}

.text-editor .ql-snow .ql-picker-options {
  background-color: #212529 !important;
}

.text-editor .ql-snow.ql-toolbar .ql-picker-label:hover,
.text-editor .ql-snow .ql-toolbar .ql-picker-label:hover,
.text-editor .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.text-editor .ql-snow .ql-toolbar .ql-picker-label.ql-active,
.text-editor .ql-snow.ql-toolbar .ql-picker-item:hover,
.text-editor .ql-snow .ql-toolbar .ql-picker-item:hover {
  color: gold;
}
.text-editor .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.text-editor .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #e8cc80;
}

/*Friends page css for border and list size*/
.custom-border {
  border: #e8cc80 2px solid;
  margin: 20px 0px 0px 20px
}
.custom-border a:hover {
  background-color: #e8cc80;
  color: #212529;
  font-weight: bold;
}

.friend-page-list-width {
  max-width: 25vw;
  height: 70vh;
  width: 25vw;
  @media (max-width: 992px) {
    max-width: 250px;
    width: 25vw;
    height: 70vh;
  }
}

/* Setting max size on different screen sizes
   used for Form in Navigation */

.custom-mw {
  width: 100%;
  max-width: 500px;
  @media (max-width: 992px) {
    width: 35vw;
  }
}
