body{
  color: yellow;
}

.primary {
  color: yellow;
}

a:hover {
  color: rgb(180, 145, 125);
}
.valid{
  color: lightgreen;
  font-weight: bold;
}
.invalid{
  color: red;
  font-weight: bold;
}
.error{
  color:red;
}

/* Setting max size on different screen sizes
   used for Form in Navigation */

   .custom-mw {
    width: 100%;
    transition: max-width 0.5s;
    max-width: 500px;
    @media (max-width: 992px) {
      width: 35vw;
    }
  }